<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <link rel="stylesheet" href="../../css/index.css">
    <title>Logar</title>
    
</head>
<body>
  <div class="divImagem">
    <img src="../../img/LOGO.png" class="imagem"/>
  </div>
    <div class="conteiner">
        <div class="content">
          <a href="../abrirChamada.html"><p>Abrir Chamado</p></a>
          <a href=""><p>Meus Chamados</p></a>
          <a href=""><p>Alterar Senha</p></a>
        </div>
        
    </div>
      </body>
</html>