<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <!--<meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">-->
    <!-- <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">-->
    <link rel="stylesheet" href="../../css/index.css">
    <script src="../../JS/index.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <title>ADM-Logar</title>

</head>
<body>
   <!-- <marquee direction="up" style="height:100px">
      TEXTO
  </marquee>>-->
  <div class="background">
    <div class="logo">
      <img src="../../img/LOGO.png" class="imagem"/>
    </div>
    
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
   <div class="cube"></div>
 </div>
 
    <div class="conteiner ">
        <div class="content">
          <a href="admAbrirChamada.html"><p>Abrir Chamado</p></a>
          <a href="admMeusChamados.html"><p>Meus Chamados</p></a>
          <a href="./alterarSenha.html"><p>Alterar Senha</p></a>
          <a href="../admin/cadastroUsuario.html" class="cadastrousuario"><p >Cadastro Usuário</p></a>
          <a href="../admin/chamadoAberto.html"><p>Todos os Chamados</p></a>
          <a href="../admin/admRelatorio.html"><p>Relatório</p></a>
          <a href="../../../index.html" onclick="ClearLogin()"><p>Sair</p></a>
        </div>
    </div>
      </body>

</html>