*{
    margin: 0%;
    padding: 0%;
  
  }
  body{
    background-image: url("./../img/background.jpeg");
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }


  .boxConteiner{
    height: 200px;
    width: 500px;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    width: 570px;
    height: 200px;
    overflow: auto;
   
    text-align: center;
   
   }
   #filtroTd {
       color: black;
       font: 5px;
      
       border-left: 1px solid white;
       border-right: 1px solid white;
       height: 30px;
   }
   #filtroTdSituacao{
       color: greenyellow;
       font: 5px;
       background-color: #417549;
       height: 50px;
       border-left: 1px solid white;
       border-right: 1px solid white;
   }
   #filtroTh{
       color: black;
       font: 5px;
       border-left: 1px solid white;
       border-right: 1px solid white;
       border-bottom: 1px solid white;
   }
   .conteiner{
      
       align-items: center;
       justify-content: center;
   }
   .conteint{
       flex-direction: row;
   }
   .imagem{
    float: right;
    margin-right: 50px;
    margin-top: 25px;
   }
   input{
       border-radius: 10px;
       height: 25px;
   }
   textarea{
       border-radius: 5px;
       height: 70px;
       width: 430px;
      
   }
   #divFlexDirection{
       display: flex;
       flex-direction: row;
       align-items: center;
       
   }
   #divFlexDirectionButton{
       display: flex;
       flex-direction: row;
       align-items: center;
       margin-left: 100px;
   }
   
   button{
       border-radius: 5%;
       height: 40px;
       width: 120px;
       border-color: #005679;
       margin-top: 20px;
   }
   
   #buttonVoltar{
       border-radius: 5px;
       background-color: #005679;
       margin-left: 20px;
       color: white;
       border-color: #005679;
   }
   #buttonEnviar{
       border-radius: 5px;
       background-color: #005679;
       margin-left: 110px;
       color: white;
       background-color: #005679;
   }
   p{
       font-size: 20px;
   }
   
   .filtros{
       color: black;
       height: 25px;
       width: max-content;
       justify-content: center;
       align-items: center;
       
   
   }
   #table{
       justify-content: center;
       align-items: center;
       color: black;
   }
   
   
   .borderBox{
   display:flex;
   flex-direction: row;
   color: black;
   align-items: center;
   justify-content: center;
   border: 1px solid black;
   border-radius: 5px;
   height: 25px;
   
   
   }
   
   #buttonFiltro{
       background-color: #005679;
       
   }
   
   
   
   .tbody-white{
       background-color: white;
       
   }
   
   #selectSituacao{
       border-radius: 5px;
       align-items: center;
       justify-content: center;
       margin-bottom: 10px;
   }

  


 /* ============= Animation background ========= */

.cube {
    position: absolute;
    top: 60;
    left: 30vw;
    width: 10px;
    height: 10px;
    border: solid 1px #d7d4e44f;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 5s ease-in forwards infinite;
  }
  .cube:nth-child(2n) {
    border-color: #d7d4e44f ;
  }
  .cube:nth-child(2) {
    animation-delay:  0,3s;
    left: 40vw;
    top: 60vh;
  }
  .cube:nth-child(3) {
    animation-delay: 0,5s;
    left: 75vw;
    top: 50vh;
  }
  .cube:nth-child(4) {
    animation-delay:  5s;
    left: 90vw;
    top: 10vh;
  }
  .cube:nth-child(5) {
    animation-delay: 8s;
    left: 10vw;
    top: 85vh;
  }
  .cube:nth-child(6) {
    animation-delay: 10s;
    left: 50vw;
    top: 10vh;
  }
  /* ================= Header ============ */
  header{
    position: absolute;
    top:0%;
    left: 0%;
    width:100%;
    margin: 0;
    padding: 0;
  }
  /* navbar */
  nav{
    color: #FFF;
    float: right;
    margin:30px 90px;
  }
  nav ul{
    list-style: none;
  }
  nav ul li {
    float: left;
    transition: .3s;
  }
  nav ul li a{
    text-decoration: none;
    color: #EFEEF5;
    transition: .5;
    font-size: 15px;
    margin-left:16px;
  }
  nav ul li:hover a{
    text-decoration: none;
    color: #591BC5;;
  }
  nav ul li:hover{
    height: 45px;
    padding-top: 30px;
    margin-top: -30px;
   background: #EFEEF5;
    text-decoration: none;
    transform: skew(8deg);
  }
  /* Logo */
  .logo{
    width: 35px;
    height: 35px;
    
    margin: 40px 63px;
    float: right;
    
  }
  .logo span{
    color: #591BC5;
    font-size: 2em;
    line-height: 1.4;
    padding-left: 5px;
    font-weight: bold;
  }
  /* Header content & title & button*/
  .header-content{
    margin-top:50%;
    text-align: center;
    color:  #EFEEF5;
  }
  .header-content h1{
    text-transform: uppercase;
    font-size: 3em;
    letter-spacing: 1px;
  }
  .header-content p {
    font-size: 20px;
    line-height: 1.5;
    margin: 20px auto;
  }
  .header-content button{
    width: 140px;
    margin:20px 10px;
    color: #591BC5;
    font-size: 17px;
    border:1px solid #EFEEF5;
    font-weight: 500;
    background: #EFEEF5;
    border-radius: 20px;
    padding: 10px;
    cursor:pointer;
    transition: .3s;
  }
  .header-content button:hover{
    border-radius: 0;
  }
  /* Animate Background*/
  @keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes cube {
    from {
      transform: scale(0) rotate(0deg) translate(-50%, -50%);
      opacity: 0.2;
    }
    to {
      transform: scale(20) rotate(960deg) translate(-50%, -50%);
      opacity: 0;
    }
  }