body{
    background: linear-gradient(132deg, #FC415A, #591BC5, #212335);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding:0;
    margin:0px;
}
.divImagem{
    align-items: center;
    justify-content: center;
    
}
.conteiner{
    margin-left: 60px;
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
    background: #00014c32;
    text-align: center;
    box-shadow: 0 8px 32px 0 rgba(108, 108, 108, 0.231);
    border-radius: 12px;
    }
    .content{
        float: left;
        margin: 0px 0px 0px 30px;
      }
    #sair{
        float: left;
    }
    .imagem{
        height: 200px;
        float: right;
        margin-right: 30px;
        margin-top: 2%;
       }
    a{
        text-decoration:none;
    }
    a:hover p{
       color: red;
    }
    p{
        color: white;
        text-align: left;
        font-size: 30px;
        text-decoration:none;
    }
     .content .cadastrousuario {
        padding: 10px;
        margin: 20px;
     }
     @media only screen and (max-width: 200px) {
        .imagem{
            height: 300px;
        }
      }
#inativoUser{
    color: rgba(133, 11, 11, 0.582);
    text-decoration:underline;
}


.content .cadastrarUser{
    margin-top: 10px;
}

.container-fluid{
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #FFF;
}

input {
  text-transform: uppercase;
}
/* ============= Animation background ========= */
.background {
  background: linear-gradient(132deg, #FC415A, #591BC5, #212335);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  padding:0;
  margin:0px;
}
.cube {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px #D7D4E4;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 5s ease-in forwards infinite;
}
.cube:nth-child(2n) {
  border-color: #FFF ;
}
.cube:nth-child(2) {
  animation-delay:  0,3s;
  left: 25vw;
  top: 40vh;
}
.cube:nth-child(3) {
  animation-delay: 0,5s;
  left: 75vw;
  top: 50vh;
}
.cube:nth-child(4) {
  animation-delay:  5s;
  left: 90vw;
  top: 10vh;
}
.cube:nth-child(5) {
  animation-delay: 8s;
  left: 10vw;
  top: 85vh;
}
.cube:nth-child(6) {
  animation-delay: 10s;
  left: 50vw;
  top: 10vh;
}
/* ================= Header ============ */
header{
  position: absolute;
  top:0%;
  left: 0%;
  width:100%;
  margin: 0;
  padding: 0;
}
/* navbar */
nav{
  color: #FFF;
  float: right;
  margin:30px 90px;
}
nav ul{
  list-style: none;
}
nav ul li {
  float: left;
  transition: .3s;
}
nav ul li a{
  text-decoration: none;
  color: #EFEEF5;
  transition: .5;
  font-size: 15px;
  margin-left:16px;
}
nav ul li:hover a{
  text-decoration: none;
  color: #591BC5;;
}
nav ul li:hover{
  height: 45px;
  padding-top: 30px;
  margin-top: -30px;
 background: #EFEEF5;
  text-decoration: none;
  transform: skew(8deg);
}
/* Logo */
.logo{
  width: 35px;
  height: 35px;
  
  margin: 40px 63px;
  float: right;
  
}
.logo span{
  color: #591BC5;
  font-size: 2em;
  line-height: 1.4;
  padding-left: 5px;
  font-weight: bold;
}
/* Header content & title & button*/
.header-content{
  margin-top:50%;
  text-align: center;
  color:  #EFEEF5;
}
.header-content h1{
  text-transform: uppercase;
  font-size: 3em;
  letter-spacing: 1px;
}
.header-content p {
  font-size: 20px;
  line-height: 1.5;
  margin: 20px auto;
}
.header-content button{
  width: 140px;
  margin:20px 10px;
  color: #591BC5;
  font-size: 17px;
  border:1px solid #EFEEF5;
  font-weight: 500;
  background: #EFEEF5;
  border-radius: 20px;
  padding: 10px;
  cursor:pointer;
  transition: .3s;
}
.header-content button:hover{
  border-radius: 0;
}
/* Animate Background*/
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 0.2;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}